@font-face {
  font-family: Comfortaa;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Comfortaa-Regular.ttf");
}

@font-face {
  font-family: Comfortaa;
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Comfortaa-Medium.ttf");
}