* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  font-family: inherit;
  list-style: none;
}

input {
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
}

button {
  font-family: inherit;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
