:root {
  --background-color: black;
  --app-background-color: #F3F6FD;

  --primary-text-color: #232360;

  --main-title-color: #000000;

  --btn-primary-text-color: #5051F9;
  --btn-primary-bacground-color: #EDECFE;

  --border-color: #E7EBFB

}