@import "reset";
@import "vars";
@import "fonts";
@import "mixins";
@import "themes/light";
@import "themes/dark";
@import "themeSwitcher";

body {
  font-family: Comfortaa, sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: var(--primary-text-color);
  background: var(--background-color);
}

.app {
  display: grid;
  grid-template-rows: repeat(3, auto) 1fr;
  flex-direction: column;
  width: 760px;
  height: 700px;
  padding: 45px;
  background-color: var(--app-background-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
  gap: 15px;
}

.main-title {
  font-size: 30px;
  font-weight: 400;
}

.btn {
  font-size: 13px;
  font-weight: 500;
  padding: 10px 18px;
  color: var(--btn-primary-text-color);
  border: .5px solid var(--btn-primary-text-color);
  border-radius: 9px;
  background: var(--btn-primary-background-color);

  &--finished {
    color: var(--btn-secondary-text-color);
    background-color: var(--btn-secondary-background-color);
  }

  &--remove {
    color: var(--btn-remove-text-color);
    border: none;
    background-color: var(--btn-remove-background-color);

  }
}

.progress {
  font-size: 14px;
  width: 235px;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  &__bar {
    height: 5px;
    border-radius: 4px;
    background-color: #E6E9ED;
  }

  &__current {
    width: 80%;
    height: 100%;
    background-color: var(--btn-primary-text-color);
  }
}

.main {
  overflow: auto;
}

.todos {
  &__item {
    @include todo-item;
    margin: 12px 0;
    padding: 20px;
    color: var(--todo-text-color);
    gap: 30px;

    &--marked {
      background-color: var(--marked-todo-color);
    }
  }

  &__number {
    display: flex;
    justify-content: flex-end;
    width: 30px;
  }

  &__desc {
    overflow: hidden;
    flex-grow: 1;
  }

  &__btns {
    display: flex;
    gap: 10px;
  }
}

.add-panel {
  @include todo-item;
  flex-grow: 1;
  margin-bottom: 22px;
  padding: 10px 10px 10px 20px;
  border: 1px solid var(--border-color);

  &__input {
    flex-grow: 1;
    height: 30px;
    padding: 0 10px;
    color: var(--primary-text-color);
    border: none;
  }

  &__btn {
  }
}

.todo-buttons {
  display: flex;
  margin-bottom: 15px;
  gap: 13px;
}